
<style type="text/css"><!--
/* ▼(A)表示領域全体 */
div.tabbox { margin: 0px; padding: 0px; width: 400px; }

/* ▼(B)タブ部分 */
p.tabs { margin: 0px; padding: 0px; }
p.tabs a {
   /* ▼(B-2)リンクをタブのように見せる */
   display: block; width: 7em; float: left;
   margin: 0px 1px 0px 0px; padding: 3px;
   text-align: center;
   border-radius: 12px 12px 0px 0px; /* 角を丸くする */
}
/* ▼(B-3)各タブの配色 */
p.tabs a.tab1 { background-color:#00F9A9;  color: white; }
p.tabs a.tab2 { background-color:#00FF3B; color:white;}
p.tabs a.tab3 { background-color:#00F9A9;   color: white; }
p.tabs a.tab4 { background-color:#00FF3B;   color: white; }
p.tabs a:hover { color: yellow; }

/* ▼(C)タブ中身のボックス */
div.tab {
   /* ▼(C-2)ボックス共通の装飾 */
   height: 300px; overflow: auto; clear: left;
}
/* ▼(C-3)各ボックスの配色 */
div#tab1 { border: 2px solid #00F9A9; background-color: #B1F9D0; }
div#tab2 { border: 2px solid #00FF3B; background-color: #CBFFD3; }
div#tab3 { border: 2px solid #00F9A9; background-color:#B1F9D0; }
div#tab4 { border: 2px solid #00FF3B; background-color: #CBFFD3; }
div.tab p { margin: 0.5em; }
--></style>


#text_shadow{
  padding:0 40px;
  font-size: 30px;
}
.neon {color: white;
font-size:30px;
      text-shadow:  0px 0px 5px white,
                    0px 0px 13px LimeGreen  ,
                    0px 0px 13px LimeGreen  ,
                    0px 0px 13px LimeGreen  ,
                    0px 0px 13px LimeGreen ;}
                    
caption{
  padding:5px;
  /*余白*/
}

#price{
  background-color:lightyellow;/*背景色*/
}
thead th,tfoot th{
  background-color:white;/*背景色*/
}
thead td{
  color:white;/*文字色*/
  background-color:Lime ;/*背景色*/
  text-align:center;/*中央寄せ*/
}


tfoot td{
  font-weight:bold;/*文字の太さ*/
  background-color:white;/*背景色*/
}

th{
   border:1px solid lightcoral;
   background-color:MediumSeaGreen ;/*背景色*/
  padding:5px;
  /*余白*/
  width:150px;
  text-align:center;
}

td{
   border:1px solid lightcoral;
  padding:5px;
  /*余白*/
  width:150px;
  text-align:right;
   background-color: Snow ;/*背景色*/
}

#ingredient{
  border:1px solid lightcoral;
border-collapse:collapse;

}
